{% extends "base.html" %} 

{% block body %}
<h1>New rental</h1>

<form action="{% url 'receipt' %}" method="post">
{% csrf_token %}
<div id="books">

</div>
<p>
<input type="button" value="Add book" onclick="add_book()" > 
</p>
<input type="hidden" name="total" id="counter" value=0 >
<input type="submit" value="Submit" >
</form>
<script>add_book()</script>
{% endblock %}