{% extends "base.html" %} 

{% block body %}
<h1>Receipt</h1>

<table>
  <thead>
    <th>
      Book
    </th>
    <th>
      Charge
    </th>
  </thead>
{% for rental in rows %}
  <tr>
    <td>
      {{ rental.title }} 
    </td>
    <td>
      ${{ rental.charge }}
    </td>
  </tr>
{% endfor %}
</table>
<h2>Total: ${{total}}</h2>
<a href="/rentals/">New rental</a>
{% endblock %}