<!DOCTYPE html>
<head>
  {% load static %}
  <script src="{% static 'app.js' %}" ></script>
  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
  <title>Book rental</title>
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
